footer {
    margin: 5rem 0;
}

/*suscripcion*/
.bordesuscripcion{
    border: white 0.1rem solid;
}

.suscripcion{
    margin: 2rem 0;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .boton{
        background-color: white;
        color: black;
    }

    .suscrip{
        margin: 0 6rem;
        padding: 1rem;
        font-size: medium;
    }
}


/*redes*/
.iconosRedes{
    background: radial-gradient(circle, rgba(255,255,255,1) 34%, rgba(0,0,0,1) 100%);
    color: $color-principal;
    text-align: center;
    padding: $medida-media;
    margin: 6rem 0;

    h3{
        font-size: 5rem;
    }

    a i{
        font-size: $medida-media*2;
        font-weight: $medida-media;
        padding: $medida-media*2;
        color: $color-principal;
    }
}

/*contacto y sucursales*/
.contactoSucursales{
    @include titulos (2rem , white);
    @extend %ubicacionrow;
    justify-content: space-around;
    align-items: center;
    .contacto_tel_mail{
        @extend %ubicacioncol;
        justify-content: center;
        align-items: center;

        ul{
            @extend %ubicacioncol;
            align-items: center;
        
            li{
                list-style: none;
            }
        }
    }
    

    .sucursalesFlex{
        @extend %ubicacioncol;
        justify-content: space-between;
        align-items: center;
    }
}

/*whatsapp*/
.whatsappfijo{
    @include titulos (4rem , white);
    position: fixed;
    width: $medida-media*2;
    height: $medida-media*2;
    line-height: 4.5rem;
    bottom: 1.5rem;
    left: 1.5rem;

}