/*header y lista de navegacion*/

.containerHeader{
    text-decoration: map-get($header, decoration);
    border-bottom: map-get($header, borde-inferior);
    overflow-x: hidden;
    @extend %ubicacionrow;
    justify-content: space-between;
    align-items: center;
    background: map-get($header, bgheader);
    background: linear-gradient(0deg, $color-principal 84%, rgba(167,167,167,1) 100%, rgba(255,255,255,1) 100%);

    h1{
        font-size: 5rem;
        font-family: 'Michroma', sans-serif;
        font-style: normal;
        padding: 1.5rem 10rem 1.5rem 1.5rem;
        color: $color-secundario;
    
    }

    nav ul li a{
        font-family: 'Michroma', sans-serif;
        text-decoration: none;
        color: $color-secundario;
        font-size: $medida-media;
        border: 3rem;
        list-style: none;
        margin: $medida-media;
        display: inline-block;
    }
}

.navegacion{
    @extend %ubicacioncol;
    justify-content: end;
    align-items: flex-end;
    margin-top: $medida-media*2;

    div{
        @extend %ubicacionrow;
        padding: 1rem $medida-media;
        margin-top: $medida-media;

        p{
            font-size: $medida-media;
            margin: 1rem;
        }
    }

    nav ul{
        @extend %ubicacionrow;
        justify-content: flex-end;
    }
}

.touchgrey {
    --bs-nav-link-hover-color: $color-touch;
    text-decoration: none;
    list-style: none;
    flex-wrap: nowrap;
}